<header class="fixed z-10 flex justify-center items-center py-5 w-full mx-auto">
    <nav class="flex flex-row gap-x-10 opacity-80 bg-black/20 backdrop-blur-lg px-4 py-2 rounded-full">
        <a href="#top" class="hover:text-purple-400 hover:text-lg ">Inicio</a>
        <a href="#skills" class="hover:text-purple-400 hover:text-lg">Skills</a>
        <a href="#proyectos" class="hover:text-purple-400 hover:text-lg">Proyectos</a>
        <a href="#contacto" class="hover:text-purple-400 hover:text-lg">Contacto</a>
    </nav>
</header>

